n8n/03-alerta-stock-bajo.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "2dd74790-3c5b-4398-99ff-aff71ec97d74",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2496,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://zorva-production.up.railway.app/api/productos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "stock_bajo",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "00ca431b-b6db-4d94-a766-3cf3c9c76665",
      "name": "Consultar stock bajo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2224,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst productos = Array.isArray(items[0]) ? items[0] : items;\n\nreturn [{ json: { productos } }];"
      },
      "id": "e456d7e7-3daa-4a16-a68b-15fa4748e508",
      "name": "Normalizar respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "s1",
              "leftValue": "={{ $json.productos.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2441f61-da7e-463b-a9a5-6f6010d8a1df",
      "name": "Hay productos con stock bajo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1696,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const productos = $input.first().json.productos;\nconst lineas = productos.map(p => `- ${p.nombre}: ${p.stock_actual}/${p.stock_minimo}`).join('\\n');\n\nreturn [{ json: { texto: `Stock bajo:\\n${lineas}` } }];"
      },
      "id": "060d55cf-43a5-4896-b3e1-81325a7d4355",
      "name": "Formatear alerta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        448
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "recipientPhoneNumber": "573202529713",
        "textBody": "={{ $json.texto }}",
        "additionalFields": {}
      },
      "id": "7c1905ed-02bc-4683-93d6-2821178f02bd",
      "name": "Enviar alerta por WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1184,
        448
      ],
      "webhookId": "315abe7c-8026-44c4-b322-5f777ce91b2f",
      "credentials": {
        "whatsAppApi": {
          "id": "uNKVbI9cc3VHX8lK",
          "name": "WhatsApp account 2"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Consultar stock bajo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar stock bajo": {
      "main": [
        [
          {
            "node": "Normalizar respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar respuesta": {
      "main": [
        [
          {
            "node": "Hay productos con stock bajo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay productos con stock bajo": {
      "main": [
        [
          {
            "node": "Formatear alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear alerta": {
      "main": [
        [
          {
            "node": "Enviar alerta por WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2798732de996d635bfd56c094efd4e66855729a2bc4df143911cf102d30ebf26"
  }
}